body{
  background-color: salmon;

}

#petsHome {
  text-align: center;
  padding-top: 20px;
  color: aquamarine;
}

#salmoncities {
  text-align: center;
}
#indexhome {
  color: aqua;
  padding-right: 475PX;
}

#spacer {
  padding: 0px;
}

nav{
  width: 500px;
  margin: auto;
  background-color: salmon;
  padding-bottom: 30px;
}
nav ul{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
body main section {
  display: flex;
  width: 960px;
  margin: auto;
  padding-right: 30px;
}
body main section img {
  width: 480px;
}
body main section div {
  display: flex;
  flex-direction: column;
}
body main section div h1{
   background-color: salmon;
  text-align: center;
  margin-top: 20px;
  font-size: large;
  color: rgb(80, 120, 21);
  
}
/* start of locations */
body #locations {
display: flex;
flex-direction: column;
background-color: salmon;
}
body #locations ul {
  display: flex;
  justify-content: center;
}
body #locations ul li{
  padding:15px;
}
/* end of locations */

/* start of merchandise */
body #merch {
  display: flex;
  flex-direction: column;
  background-color: salmon;
}

body #merch ul{
  display: flex;
  justify-content: center;
}
/* end of merchandise */

/* start of contact */

body #contact {
  display: flex;
  flex-direction: column;

}

body #contact ul {
  display: flex;
  justify-content: center;
}

body #contact ul p {
  padding: 10px;
}
/* end of contact */

body #pictures {
  display: flex;
  flex-direction: column;
  background-color: salmon;
}
body #pictures ul {
  display: flex;
  justify-content: center;

}

body #pictures ul li {
  padding: 10px;
}

img{
  width: 70%;
  height: auto;
  border : 1px solid red;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  float: center;
  display: flex;
  margin-top: 0px;
  margin-bottom: 30px;
  
}



p{
  height: 300px;
  font-size: 18px;
  font-style: oblique;
  line-height: 25px;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
 


}
ul{
  color: rgb(7, 140, 228);
  text-align: center;
  padding-bottom: 10px;
  
}
h2{
  background-color: salmon;
  text-align: center;
  margin-top: 20px;
  font-size: large;
  color: rgb(238, 14, 29);
  margin-left: 300px;
  margin-right: 300px;
}

main {
  background-color: salmon;
}

#legend {
  padding-bottom: 10px;
  color: blueviolet;
}

footer {
  text-align: center;
  margin-bottom: 0px;
}

#table,td,th{
  font-family:'Times New Roman', Times, serif;
  border:dashed rgb(220, 43, 24);
}